
.navbar {
  background-color: aqua;
}

.card {
  border: 0;
}

.body {
  background-image: url(https://wallpaperaccess.com/full/5206080.jpg);
}



/* -------Vote--------- */

.voteDownButton{
  background-color: transparent;
  color: gray;
  border: none;
  padding: 10px 20px; /* Adjust these values as needed */
  font-size: 1.2em; /* Adjust as needed */
  transform: scale(1.2)
}

.voteButton {
  background-color: transparent;
  color: gray;
  border: none;
  padding: 10px 20px; /* Adjust these values as needed */
  font-size: 1.2em; /* Adjust as needed */
  transform: scale(1.2)
}








/* NAV */

.aal-container{
  display: flex;
  justify-content: flex-end;
  color: white !important;
}
  
.right-container{
  color: white !important;
}

.custom-navbar{
  background-color: black !important;
}

.custom-navbar .nav-link {
  font-size: 30px; /* Adjust the font size as desired */
} 

.brand-container {
  font-size: 60px;
  color: white !important;
}

.AboutMe-container {
  font-size: 30px;
}

.diplayname-container{
  font-size: 30px;
}

