.sneakers-picture {
  aspect-ratio: 3/4;
  border: 15px red solid;
  width: 300px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 15px solid black;
}


