
.modal-body1{
  background-color: black
}

.modal-content {
  background-color: rgb(255, 255, 255) !important;
}

.sneakers-picture {
  aspect-ratio: 4/3;
  width: 600px;
  object-fit: cover;
}

.modal-open {
  display: flex;
}

.whole-form {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* .show-container {
  
} */

.sneakers-picture-modal {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.Delete-button {
  justify-content: center;
  display: flex;
  margin-bottom: 5px;
  padding-top: 5px;
}

.Kick-Modal {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: brightness(100px);  
  -webkit-backdrop-filter: brightness(100px);  
  backdrop-filter: blur(3px);  
  -webkit-backdrop-filter: blur(3px);
}

* {
  box-sizing: border-box;
}

.singledKick-Card {
  overflow: hidden;
}

.show-container {
  overflow: hidden;
}

.button-effect .sneakers-picture{
  display: block;
  transform: scale(1.0);
  transition: transform 0.73s ease-in-out;
  z-index: 1;
}

.button-effect:hover .sneakers-picture {
  transform: scale(1.10);
  filter: drop-shadow(0 0 10px rgba(0, 5, 9, 0.319));
}

/* Disable hover effects on mobile */
@media (max-width: 768px) {
  .button-effect:hover
  {
      transform: scale(1.0);
      filter: none;
  }
}

