

.custom-navbar .nav-link {
  font-size: 30px; /* Adjust the font size as desired */
} 

.brand-container {
  font-size: 30px;
}

/* .navbar-brand {
  font-size: 30px;
} */


.AboutMe-container {
  font-size: 30px;
}

.navbar-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.diplayname-container{
  font-size: 30px;
}
