
.aal-container{
  display: flex;
  justify-content: flex-end;
}

.custom-navbar .nav-link {
  font-size: 30px; /* Adjust the font size as desired */
} 

.brand-container {
  font-size: 30px;
}

.AboutMe-container {
  font-size: 30px;
}

.diplayname-container{
  font-size: 30px;
}
